<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./head'); %>
</head>
<body class="container">

<header>
  <%- include('./header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Art sale is great !!</h1>
    <p>
    Discover unique, one-of-a-kind artworks at my exclusive online art sale! 
    From vibrant paintings to intricate designs, each piece is crafted with passion 
    and creativity. Whether you're looking to enhance your home decor or find the
    perfect gift, there's something for every art lover. Browse, shop, 
    and bring a touch of inspiration to your space today!"
    </p>
  </div>
</main>

<footer>
  <%- include('./footer'); %>
</footer>