<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./head'); %>
</head>
<body class="container">

<header>
  <%- include('./header'); %>
</header>

<main>
  <div class="jumbotron">
    <h2>Welcome to distance course - online</h2>
    <p>
      Distance learning – also referred to as 'online learning' – 
      is an alternative route to studying a degree course offered by a university. 
      Instead of attending lectures and seminars on campus, you study at home or work. 
      All teaching, materials, and support are delivered online.
    </p>
  </div>
</main>

<footer>
  <%- include('./footer'); %>
</footer>