<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./head'); %>
</head>
<body class="container">

<header>
  <%- include('./header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Add new art</h1>
  </div>

  <div class="container"> 
    <form action="/addNewArt" method="POST">
      <div class="mb-3">
        <label for="courseID" class="form-label">Number of course</label>
        <input type="text" class="form-control" id="courseID" name="courseID" >
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" >
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="text" class="form-control" id="price" name="price" >
      </div>
      <div class="mb-3">
        <label for="start_dagur" class="form-label">Start</label>
        <input type="text" class="form-control" id="start_dagur" name="start_dagur">
      </div>
      <div class="mb-3">
        <label for="last_dagur" class="form-label">End</label>
        <input type="text" class="form-control" id="last_dagur" name="last_dagur">
      </div>
      <div class="mb-3">
        <label for="idteacher" class="form-label">Teacher</label>
        <select id="idteacher" name="idteacher" class="form-control">
          <option value="112">Bob Marley</option>
          <option value="211">Bill Nickson</option>
          <option value="333">Don Corlone</option>
        </select>
      </div>
      
      <button class="btn btn-secondary" type="submit">Add</button>
    </form>
  </div>
</main>

<footer>
  <%- include('./footer'); %>
</footer>

</body>
</html>