<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./head'); %>
</head>
<body class="container">

<header>
  <%- include('./header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Add new art</h1>
  </div>

  <div class="container"> 
    <div class="row">
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder=" name" aria-label="First name">
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="First name" aria-label="First name">
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
      </div>
    </div>
    <p><a class="btn btn-secondary" href="#" role="button">Add</a></p>
  </div>

</main>

<footer>
  <%- include('./footer'); %>
</footer>

</body>
</html>