<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./head'); %>
</head>
<body class="container">

<header>
  <%- include('./header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Guest - Dashboard</h1>
    <p>Welcome, Guest!</p>
    <p>You have limited access. Please log in to see more features.</p>
    <h4>Your name is : <%= user ? user.username : 'Guest' %></h4>
  </div>
</main>

<footer>
  <%- include('./footer'); %>
</footer>

</body>
</html>