<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Distance Course</a>
  <ul class="navbar-nav mr-auto">
   
    <% if (usertype === 'headteacher') { %>
    <li class="nav-item">
      <a class="nav-link" href="/headteacher">Admin - Head Teacher</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/registeradmin">Register - Head Teacher</a>
    </li>
    <% } else if ( usertype === 'teacher' ) { %>
    <li class="nav-item">
      <a class="nav-link" href="/teacher">Editor - Teacher</a>
    </li>  
    <% } else if ( usertype === 'student' ) { %>
    <li class="nav-item">
      <a class="nav-link" href="/student">Student - Viewer</a>
    </li>  
    <% } else { %>
    <li class="nav-item">
      <a class="nav-link" href="/guest">Guest</a>
    </li>  
    <% } %>

  </ul>

  <ul class="nav navbar-nav ml-auto">
  
    <% if( user ) { %> 
    <li class="nav-item">
      <a class="nav-link btn btn-secondary" href="/logout" data-toggle="tooltip" data-placement="bottom" title="inactivate"><span class="fas fa-user">Logout</span></a>
    </li>
    <% } else  { %>
    <li class="nav-item">
      <a class="nav-link btn btn-secondary" href="/register" data-toggle="tooltip" data-placement="bottom" title="inactivate"><span class="fas fa-user">Register</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-secondary" href="/login" data-toggle="tooltip" data-placement="bottom" title="inactivate"><span class="fas fa-sign-in-alt">Login</span></a>
    </li>
    <% } %>

  </ul>
</nav>

<!-- 

-->