<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./head'); %>
</head>
<body class="container">

<header>
  <%- include('./header'); %>
</header>

<main>
  <div class="jumbotron">
    <h2>Welcome to distance course - online</h2>
    <h4>Info about user</h4>
  </div>

  <div class="container"> 
    <h2><%= arts.name %></h2>
  </div>
</main>

<footer>
  <%- include('./footer'); %>
</footer>

</body>
</html>